<a href="https://colab.research.google.com/github/AmjadALKadi/AmjadALKadi/blob/main/python_prob_28_40.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a,b=(int(input()),input().split())
c,d=(int(input()),input().split())
x=set(b)
y=set(d)
p=y.difference(x)
q=x.difference(y)
r=p.union(q)
print ('\n'.join(sorted(r, key=int)))

4
2 4 5 9
4
2 4 11 12
5
9
11
12

In [4]:
s = set()
for _ in range(int(input())):
    s.add(input())
print(len(s))

7
uk
ud
go
sl
mm
dd
s
7

In [5]:
n = int(input())
s = set(map(int, input().split()))
for i in range(int(input())):
    string = input().split()
    if string[0] == 'pop': s.pop()
    elif string[0] == 'remove': s.remove(int(string[1]))
    elif string[0] == 'discard': s.discard(int(string[1]))
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

In [7]:
n = int(input())
a_n = set(map(int, input().split()))
m = int(input())
b_m = set(map(int, input().split()))
x = a_n.union(b_m)
print(len(x))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

In [8]:
n = int(input())
a = set(map(int,input().split()))
m = int(input())
b = set(map(int,input().split()))
x = a.intersection(b)
print(len(x))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

In [9]:
n = int(input())
a = set(map(int,input().split()))
m = int(input())
b = set(map(int,input().split()))
x = a.difference(b)
print(len(x))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

In [11]:
n = int(input())
a = set(map(int,input().split()))
m = int(input())
b = set(map(int,input().split()))
x = a.symmetric_difference(b)
print(len(x))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

In [12]:
if __name__ == '__main__':
    (_, x) = (int(input()),set(map(int, input().split())))
    y = int(input())
    for _ in range(y):
        (command, newSet) = (input().split()[0],set(map(int, input().split())))
        getattr(x, command)(newSet)

    print (sum(x))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

In [13]:
#way_2
_ = int(input())
s1 = set(map(int, input().split()))
N = int(input())

for _ in range(N):
    cmd, _ = input().split()
    s2 = set(map(int, input().split()))
    if(cmd == "intersection_update"):
        s1.intersection_update(s2)
    elif(cmd == "update"):
        s1.update(s2)
    elif(cmd == "symmetric_difference_update"):
        s1.symmetric_difference_update(s2)
    elif(cmd == "difference_update"):
        s1.difference_update(s2)

print(sum(s1))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

In [14]:
a = int(input())
lists = input().split()

lists.sort()
capt_lis = (set(lists[0::2]) ^ set(lists[1::2]))
print(capt_lis.pop())

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

In [15]:
n = int(input())

for i in range(n):
    m = int(input())
    a = set(input().split())
    l = int(input())
    b = set(input().split())
    out_set = a.difference(b)
    if len(out_set) == 0:
        print(True)
    else:
        print(False)

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

In [16]:
a = set(input().split())
co , n = 0, int(input())
for i in range (n):
        b = set(input().split())
        if a.issuperset(b) :
                co += 1
print(co == n)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False